 .App{
 text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 
}
.nav-bar {
  background-color:#3f60bb

  ;
 height: 65px;
 

  
  }
  .img {
     width :80%;
    height: 67PX;
    
  
      
  }
  .main-footer {
    color: white;
    background-color: #767a7c;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1px;
  }
  .tel{
    width: 20;
    height: auto;
}
.lis{
  font-size: 15px;
  font-weight: bold;
  
}
.ac{

  margin-right: 32px;
}
.hi{
  
  margin-left: 1px;
  margin-right: 1px;
}
.bl{
  margin-right: 35px;
}
.l{
  margin-left: 20px;
}
.bt{
  margin-left: 410px;
  padding-top: .2rem;
  padding-bottom: .3rem;
}
.bgr {
  background-image: url("C:\Users\Amal\Desktop\firstreact\myapp\src\amaal.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .block-example {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    background-color: rgb(131, 126, 126);
    display: inline-block;
}

.ok{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500;
  margin-top: 2px;
}
.ko{
  font-size: 23px;
  font-weight: bold;
 
}
.cc{
  background-color: #f1c638;

 
}

.imgg{
  width :30cm;
  height:10.9cm;  
 
}
.add{
  margin-left:1100px ;
}

.bb{
  margin-top: 4px ;
}
.lh{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.li{
  color:white;
} 
.create{
  margin-left: 1150px;
} 


